<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel='stylesheet' href='../styles/style.css' />
	<title>Add a Puppy</title>
</head>
<body>
	<form action="/puppies">
		Puppy name: <input type="text" name="pupName">

		Puppy breed: <input type="text" name="pupBreed">

		Puppy age: <input type="text" name="pupAge">

		Puppy pic link: <input type="text" name="pupPic">

		<input type="submit" value="Add">

	</form>
</body>
</html>