<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel='stylesheet' href='../styles/style.css' />
	<title>Individual Puppy Page</title>
</head>
<body>
	<h1>This is an individual puppy page </h1>
		<h2>The puppy:</h2>
		<img src="<%=singlePup.pic%>" alt="">
		<li><%= singlePup.name%></li>
			<ul><%= singlePup.breed%></ul>
			<ul><%= singlePup.age%></ul> 
	</p>
	
	<a href="/">Home</a>
	
</body>
</html>

